$schema: http://json-schema.org/draft-07/schema#
title: MEF LSO Legato - IP Service Level Specification Configuration
definitions:
  IpSlsConfiguration:
    description:
      The IPVC Service Level Specification (SLS) describes the performance
      objectives for the performance of conformant IP Data Packets that flow
      over the IPVC. The IPVC Service Level Specification Attribute is either
      None, or a four-tuple of the form (s,T,E,L) where s is the start time, T
      is a period of time, E is a set of SLS entries and L is a set of the CoS
      Name and number of other parameters specific to the Performance Metric.
      Reference MEF 61.1 Section 10.9 IPVC Service Level Specification Service
      Attribute.
    type: object
    properties:
      slsRpPair:
        description:
          Set of ordered SLS-RP pairs. 
        type: array
        minItems: 1
        items:
          $ref: "#/definitions/SlsRpPair"
      startTime:
        type: string
        format: date-time
      periodOfTime:
        $ref: "../../../../../common/common.yaml#/definitions/TimeDuration"
      oneWayMeanPacketDelay:
        type: boolean
      oneWayInterPacketDelayVariation:
        type: boolean
      oneWayPacketDelayPercentile:
        type: boolean
      oneWayPacketDelayRange:
        type: boolean
      oneWayPacketDelayLossRatio:
        type: boolean
      serviceUptime:
        type: boolean
      locationList:
        type: array
        minItems: 1
        items:
          $ref: "../../ipSls.yaml#/definitions/Location"
